<div class="widget logbook-widget">

    <h1><i18n>logBook.title</i18n></h1>

    <div class="logbook-child" ng-if="widget.model.me.profiles.indexOf('Relative') >= 0 && widget.eleves.length === 1 && widget.structures">
        <div class="avatar selected">
            <figure ng-if="widget.getChildId(0)">
                <img ng-src="/userbook/avatar/[[ widget.getChildId(0) ]]?thumbnail=100x100"/>
            </figure>
            <figure ng-if="!widget.getChildId(0)">
                <img skin-src="/img/illustrations/no-avatar.svg?thumbnail=100x100"/>
            </figure>
            <div>
                <span>[[ widget.getMyStudentTag('Prenom') ]]</span> <span> [[ widget.getMyStudentTag('Nom') ]]</span>
            </div>
        </div>
    </div>


    <div class="logbook-children" ng-if="widget.model.me.profiles.indexOf('Relative') >= 0 && widget.eleves.length > 1 && widget.structures">
        <ul>
            <li class="avatar"
                ng-repeat="eleve in widget.eleves"
                ng-click="widget.getEleve($index)"
                ng-class="{'selected': widget.getTag('Prenom', $index) === widget.getMyStudentTag('Prenom') }" >
                <figure ng-if="widget.getChildId($index)">
                    <img ng-src="/userbook/avatar/[[ widget.getChildId($index) ]]?thumbnail=100x100"/>
                 </figure>
                <figure ng-if="!widget.getChildId($index)">
                     <img skin-src="/img/illustrations/no-avatar.svg?thumbnail=100x100"/>
                 </figure>

                 <div>
                    <span>[[ widget.getTag('Prenom', $index) ]]</span>
                 </div>
            </li>
        </ul>
    </div>

    <div class="logbook-content">
        <p class="info" ng-if="!widget.structures"
            translate content="[[widget.errorMsg.error]]">
        </p>

        <div class="logbook-sections tickets-cards" ng-if="widget.structures">

            <div class="ticket-card"
                ng-class="{'empty': !contentType.compact }"
                ng-repeat="contentType in widget.contentTypes"
                ng-click="widget.openLightBox(contentType)">

                <figure ng-class="'shade-color-'+$index">
                    <i class="[[contentType.icon]]"></i>
                </figure>
                <section>
                    <h5 translate content="logBook.[[contentType.title]]"></h5>
                    <p ng-if="contentType.compact">
                        [[contentType.compact]]
                    </p>
                    <em class="low-importance" ng-if="!contentType.compact">
                        <i18n>logBook.empty</i18n>
                    </em>
                </section>
                <i class="dotsx3"
                    tooltip="logBook.[[contentType.title]].tooltip"
                    ng-if="contentType.compact"></i>

            </div>

        </div>
    </div>

    <lightbox show="widget.showLightbox" on-close="widget.showLightbox = false">
        <div ng-init="currentContentType.getContent(currentEleve)">

            <h2>
                <span translate content="[[widget.currentContentType.lightboxTitle]]"></span>

                <span ng-if="widget.model.me.type != 'ELEVE' ">
                    <i18n>logBook.of</i18n>
                    [[widget.getMyStudentTag('Prenom')]]
                </span>
            </h2>

            <article>
                <div ng-repeat="item in widget.currentContentType.full">

                    <p ng-if="!item.subsections && !item.pageUrl">
                        <span>•</span>[[ item.value ]]
                    </p>

                    <p ng-if="!item.subsections && item.pageUrl">
                        <a target="_blank" href="[[widget.structureAddress]]/[[widget.userStatus()]].html?page=[[ item.pageUrl ]]">
                        <!-- <a ng-if="!item.subsections && item.pageUrl" class="right-magnet" target="_blank" tooltip="logBook.target.tooltip" href="[[widget.structureAddress]]/[[widget.userStatus()]].html?sessionENT=[[ widget.getSession() ]]&page=[[ item.pageUrl ]]"> -->
                            <span>•</span>[[ item.value ]]
                            <i class="new-tab right-magnet" tooltip="logBook.target.tooltip"></i>
                        </a>
                    </p>



                    <h4 ng-if="item.subsections && !item.pageUrl">
                        [[ item.value ]]
                    </h4>
                    <h4 ng-if="item.subsections && item.pageUrl">
                        <a target="_blank" href="[[widget.structureAddress]]/[[widget.userStatus()]].html?page=[[ item.pageUrl ]]">
                            [[ item.value ]]
                            <i class="new-tab right-magnet" tooltip="logBook.target.tooltip"></i>
                        </a>
                    </h4>

                    <div ng-if="item.subsections">
                        <section ng-repeat="subsection in item.subsections">

                            <b ng-if="!subsection.pageUrl">[[ subsection.header ]]</b>

                            <a ng-if="subsection.pageUrl" target="_blank" href="[[widget.structureAddress]]/[[widget.userStatus()]].html?page=[[ subsection.pageUrl ]]">
                                <b>[[ subsection.header ]]
                                    <i class="new-tab right-magnet" tooltip="logBook.target.tooltip"></i>
                                </b>
                            </a>

                            <br>
                            <span>
                                [[ subsection.content ]]
                            </span>
                        </section>
                    </div>

                </div>
            </article>

        </div>
    </lightbox>

</div>
