<div class="widget logbook-widget">

    <h1><i18n>logBook.title</i18n></h1>

    <div class="logbook-child" ng-if="widget.model.me.profiles.indexOf('Relative') >= 0 && widget.eleves.length === 1">
        i'm parent, got one child
        <div class="avatar selected">
            <figure>
                <i class="default"></i>
                <!-- <img ng-src="/userbook/avatar/9955206b-b92d-4af1-9e50-c7a83c76920a?thumbnail=100x100"/> -->
            </figure>
            <div>
                <span>[[ widget.getTag('Prenom', eleve) ]]</span><span>[[ widget.getTag('Nom', eleve) ]]</span>
            </div>
            <!-- <div>[[ widget.userInfos()]]</div> -->
        </div>
    </div>


    <div class="logbook-children" ng-if="widget.model.me.profiles.indexOf('Relative') >= 0 && widget.eleves.length > 1">
        <ul>
            <li class="avatar"
                ng-repeat="eleve in widget.eleves"
                ng-click="widget.getEleve(eleve)"
                ng-class="{'selected': widget.getTag('Prenom', eleve) === widget.getTag('Prenom', widget.myeleve) }" >

                 <figure>
                     <i class="default"></i>
                     <!-- <img ng-src="/userbook/avatar/9955206b-b92d-4af1-9e50-c7a83c76920a?thumbnail=100x100"/> -->
                 </figure>
                 <div>
                     <span>[[ widget.getTag('Prenom', widget.myeleve) ]]</span>
                 </div>
                 <!-- <div>[[ widget.userInfos()]]</div> -->
            </li>
        </ul>
    </div>


    <div class="logbook-content">
        <div class="logbook-sections tickets-cards">

            <div class="ticket-card"
                ng-class="{'empty': !contentType.compact }"
                ng-repeat="contentType in widget.contentTypes"
                ng-click="widget.openLightBox(contentType, widget.myeleve)"
                tooltip="logBook.[[contentType.title]].tooltip">

                <figure ng-class="'shade-color-'+$index">
                    <i class="[[contentType.icon]]"></i>
                </figure>
                <section>
                    <h5 translate content="logBook.[[contentType.title]]"></h5>
                    <p ng-if="contentType.compact">
                        [[contentType.compact]]
                    </p>
                    <em class="low-importance" ng-if="!contentType.compact">
                        <i18n>logBook.empty</i18n>
                    </em>
                </section>
                <i class="dotsx3" ng-if="contentType.compact"></i>

            </div>

        </div>
    </div>

    <lightbox show="widget.showLightbox" on-close="widget.showLightbox = false">
        <div ng-init="currentContentType.getContent(currentEleve)">

            <h2>
                <span translate content="[[widget.currentContentType.lightboxTitle]]"></span>

                <span ng-if="widget.model.me.type != 'ELEVE' ">
                    <i18n>logBook.of</i18n>
                    [[widget.getTag('Prenom', widget.myeleve)]]
                </span>
            </h2>
            <!-- <h2>
                <a href="[[ item.pageURL ]]"></a>
                [[ item.title ]]
                <i class="new-window"></i>
            </h2> -->

            <article>
                <div ng-repeat="item in widget.currentContentType.full">

                    <p class="" ng-if="!item.subsections">
                        <span>•</span>[[ item.value ]]
                    </p>


                    <h4 ng-if="item.subsections">[[ item.value ]]</h4>
                    <div ng-if="item.subsections">
                        <section ng-repeat="subsection in item.subsections">
                            <b>[[ subsection.header ]]</b> <br>
                            <span>
                                [[ subsection.content ]]
                            </span>
                        </section>
                    </div>

                </div>
            </article>

        </div>
    </lightbox>

</div>
